/* * {
    outline: 1px solid red !important;
} */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    margin-bottom: 80px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 200px;
    padding: 0 150px;
}

.hero-txt {
    width: 450px;
}

.hero h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;

    margin-bottom: 0;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
    width: 450px;

    flex-wrap: wrap;
    margin-top: 5px;
}

.hero-img {
    width: 600px;
    height: 300px;
}

.info-img {
    width: 100px;
    height: 100px;
}

button {
    background-color:  hsl(217, 91%, 59%);
    color: #F9FAF8;
    text-decoration: none;
    border-radius: 20px;

    font-size: large;
    font-weight: bold;

    cursor: pointer;
    border: none;
    
    padding: 10px 40px;
}

button:hover {
    background-color: #5492F7;
    /* transition-duration: 0.5s; */
}