/* * {
    outline: 1px solid red !important;
} */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;

    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    margin-bottom: 80px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

.header a {
    color: #C7C9CD;
    text-decoration: none;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 200px;
    padding: 0 150px;
    padding-bottom: 100px;
}


.hero h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    color: #C7C9CD;
    font-size: 18px;
    width: 450px;

    flex-wrap: wrap;
    padding: 15px 0;
}

.hero-img {
    width: 600px;
    height: 300px;
}

.info {
    background-color: #F9FAF8;
    width: 100%;

    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;

    padding: 50px 0;
}

.images {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.illustration p {
    color: #515257;
    width: 150px;
    padding-top: 10px; 
}

.info img {
    width: 150px;
    height: 150px;

    border:5px solid #5492F7;
    border-radius: 15px;
}


.testimonials {
    background-color: #E5E7EB;

    padding: 100px 550px;
}

.testimonials p {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}


#thor {
    font-size: 30px;
    font-weight: bold;

    text-align: right;
}

.call {
    display: flex;
    background-color: #F9FAF8;

    justify-content: center;
    align-content: center;
    padding: 100px 0;
}

.action {
    display: flex;
    color: #E5E7EB;
    background-color: #3882F6;
    /* width: 800px; */
    padding: 45px 75px;
    border-radius: 10px;

    justify-content: center;

    gap: 300px;
}

button {
    background-color:  hsl(217, 91%, 59%);
    color: #F9FAF8;
    text-decoration: none;
    border-radius: 10px;

    font-size: large;
    font-weight: bold;

    cursor: pointer;
    border: none;
    
    padding: 10px 40px;
}

button:hover {
    background-color: #5492F7;
}

.action button {
    border:2px solid #E5E7EB;
    border-radius: 10px;
}

.footer {
    text-align: center;
    color: #E5E7EB;

    padding: 40px 0;
}
